

/*logo*/
#logo{
	/*text-align: center;*/
	z-index:9999 !important;
}
#logo h1 a, #logo h2 a {
	font-family: 'Droid Serif';
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	color: #000;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#logo img {
	max-width: 100%;
	/*margin-top:-30px;*/
}

#logo h1, #logo h2 {
	font-weight: bold;
	font-size: 2.154em;
	margin: 0;
	line-height: 1em;
}

#logo p{
	margin: 10px 0 0;
	font-size: 0.846em;
}

[class^="test-"] {
	margin: 0.4em;
	padding: 1em 3em;
	cursor: pointer;
	background: none repeat scroll 0% 0% #E1E1E1;
	text-decoration: none;
	color: #666;
	border-radius: 2px;
}
.test a{
	color: #000000;
}
.test a:hover{
	color: #FFF;
}

[class^="hvr-overline-"]:before {
	content: "";
	background: #D15820;
}
